<div class="home text-center">
<%= image_tag("icongame") %>	
</div>


    <div class="top home card-body">
	<h2 class="text-center">Ajuda</h2>

    <p>Para PAUSAR o jogo, bastar apertar a tecla ESC</p>

    <p>Para movimentar a nave, use as setas do teclado.</p>

    <%= link_to "Voltar", home_path, class: "btn btn-outline-light btn-sm" %>
</div>