 <div class="home text-center">
<%= image_tag("icongame") %>	
</div>
<div class="top card-body">

	<h2 class="text-center">Configurações</h2>
	<br>
	<div class="text-center">
	<label>Música</label>
	<br>

	<label class="switch">
	  	<input type="checkbox" checked>
	  	<span class="corredor round"></span>
	</label>
	<br>

	<label>Efeitos Sonoros</label>
	<br>

	<label class="switch">
	  	<input type="checkbox" checked>
	  	<span class="corredor round"></span>
	</label>
	</div>
	<div class="m-2">
	<%= link_to "Voltar", home_path, class: "btn btn-outline-light btn-sm" %>
	</div>
</div>
   