<nav class="navbar navbar-dark bg-dark text-center" style="color:#2bb4ea;margin-left: 90vh;">
Colonia
</nav>

 <div class="list-group">
    <a href="#" class="list-group-item active bg-dark" style="color:#2cb4ea;"><i class="fa fa-key"></i> <span>Upgrades</span></a>
    <a href="#" class="list-group-item"><i class="fa fa-credit-card"></i> <span></span></a>
    <a href="#" class="list-group-item"><i class="fa fa-question-circle"></i> <span></span></a>
    <a href="#" class="list-group-item"><i class="fa fa-arrow-circle-o-left"></i> <span></span></a>
    <a href="#" class="list-group-item"><i class="fa fa-book"></i> <span></span></a>
    <a href="#" class="list-group-item"><i class="fa fa-compass"></i> <span></span></a>
  </div>

  <div class=""></div>