<div class="home text-center">
<%= image_tag("icongame") %>	
</div>
<div class="top">
    <div class="table-responsive-sm card-body">
      	<table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Posição</th>
              <th scope="col">Usuário</th>
              <th scope="col">Pontuação</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1º</td>
              <td>User</td>
              <td>10</td>
            </tr>
            <tr>
              <td>2º</td>
              <td>User2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>3º</td>
              <td>User3</td>
              <td>8</td>
            <tr>
              <td>4º</td>
              <td>User4</td>
              <td>7</td>
            <tr>
              <td>5º</td>
              <td>User5</td>
              <td>6</td>
            </tr>
            </tr>
            </tr>
          </tbody>
        </table>
        <%= link_to "Voltar", home_path, class: "btn btn-outline-light btn-sm" %>
     </div>
</div>