/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.devise{
  margin-right: 40vh;
  margin-left: 40vh;
	background-color: #00000099;
	color :#ffffff;
}

.card-header{
	background-color: #010101;
}

.card-body{
	background-color: #00000099;
}

.edit{
  margin-top: 25vh !important;
}

.home{
  padding-top: 13vh !important;
  color:#ffffff;
}

body{
  background-image: url("background.png");
  background-size: cover;
  height: 100vh;
}

.top{
  margin-top: 5vh !important;
  margin-right: 25vw;
  margin-left: 25vw;
  color:#ffffff;
}

.list-group {   
  margin-left: -160px;
  float: left;
  padding-top: 35vh;
}


/* Botão Switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}.switch input {display:none;}
.corredor {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}.corredor:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}input:checked + .corredor {
  background-color: #2196F3;
}input:checked + .corredor:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}.corredor.round {
  border-radius: 34px;
}.corredor.round:before {
  border-radius: 50%;
}


//game
body {
  margin: 0;
  padding: 0;
}

#gameWindow {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  position: relative;
}

#player {
  position: absolute;
  background-image: url("player.png");
  background-size: cover;
}

.obstacle {
  position: absolute;
  background-image: url("asteroid.gif");
  background-size: cover;
}

.reward {
  position: absolute;
  background-image: url("reward.png");
  background-size: cover;
}

.score {
  position: fixed;
  color: #ffffff;
  top: 0;
}

.no-container{
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

//sidebar
.sidenav {
  height: 50%;
  width: 200px;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 0;
  background-color: #11111199;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: #11111199;
}

//colony
.planet{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 95vh;
  width: 80vw;

  .card-colony{
    position: absolute;
    height: 100%;
    width: 45%;
  }

  .card-colony.oficina{
    right: 0;
    button{
      right:0;
      position: absolute;
      bottom: 0;
    }
  }

  .card-colony.evento{
    left: 0;
    button{
      right:0;
      position: absolute;
      bottom: 0;
    }
  }
}

.bg-translucid{
  background-color: #11111199;
}

.nave{
  position: absolute;
  background-image: url("player.png");
  background-size: cover;
  height: 98px;
  width: 98px;
  left: calc(50% - 49px);
}