<p>Olá <%= @resource.email %>!</p>

<p>Você está requisitando a mudança da sua senha no jogo Restarting. Você pode redefini-la no link abaixo.</p>

<p><%= link_to 'Mudar minha senha!', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez essa requisição, Por favor ignore este email.</p>
<p>Sua senha não irá mudar antes de você clicar no link acima e criar uma nova.</p>
